@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: "Montserrat", sans-serif;
}

/* Scrollbar customizada  */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #fff8f0;
}
::-webkit-scrollbar-thumb {
  background: #ff8d0a55;
  border-radius: 99px;
}
